*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #08080A;
  overflow-x: hidden;
}
.wrapper{
  overflow: hidden;
  position: relative;
}
.bg_cirlces{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none; 
}
.container{
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
button{
  cursor: pointer;
}
.section_title{
  color: #FFF;
  font-family: Manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Header */
.header .header_block{
  position: relative;
  z-index: 100;
  background-color: #111112;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 33px 45px 32px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger_menu_wrapper{
  display: none;
}
.header_menus .close{
  display: none;
}
.header_menus{
  display: flex;
  gap: 58px;
  align-items: center;
}
.header_menus li a{
  color: #FFF;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header_menus li.last_li{
  border-radius: 31.5px;
  background: #303030;
  padding: 10px 50px 15px;
  transition: all 0.5s ease;
}

.header_menus li.last_li:hover {
  background: #1d1d1d;
}
.header_menus li.last_li a:hover {
  color: #b5b1b1;
}


/* hero */
.hero_main{
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  width: 100%;
  margin-top: 104px;
}
.hero_left{
  position: absolute;
  top: -140px;
  left: -50px;
}
.hero_left img{
  width: 700px;
}
.hero_left .cirle{
  width: 363px;
  height: 363px;
  border-radius: 363px;
  background: #EB5C68;
  filter: blur(294.3999938964844px);
  position: absolute;
  top: 294px;
  left: 177px;
  z-index: 0;
}
.hero_right{
  width: 732px;
}
.hero_right .title{
  color: #FFF;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 36px;
  margin-left: 9px;
}
.hero_right .title .red{
  color: #EB5C68;
  font-family: "Tenor Sans";
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
}
.hero_right .title .blue{
  color: #7A00F1;
  font-family: "Tenor Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 16px;
}
/* .hero_right .title .move_left{
  margin-left: -64px;
} */
.hero_right .text{
  color: #FFF;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 97px;
}
.hero_bottom{
  display: flex;
  align-items: center;
  gap: 39px;
}
.hero_bottom .start_contact{
  border-radius: 23.391px;
  background: #7A00F1;
  padding: 23.762px 40.099px;
  color: #FFF;
  font-family: Manrope;
  font-size: 20.792px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.5s ease;
}

.start_contact:hover {
  background: #38016f;
}

.hero_bottom .info{
  color: rgba(255, 255, 255, 0.40);
  font-family: Manrope;
  font-size: 23.762px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; 
  letter-spacing: 0.64px;
}

/* About us */
.aboutus{
  margin-top: 250px;
}
.aboutus .section_title{
  margin-bottom: 63px;
}
.aboutus .cards_wrapper{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.aboutus .cards{
  display: flex;
  align-items: stretch;
  gap: 32px;
}
.aboutus .cards:nth-child(n+2){
  margin-left: auto;
}
.aboutus .card{
  width: 410px;
  border-radius: 30px;
  border-radius: 22px;
  background: #111112;
  padding: 30px;
}
.aboutus .card_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}
.aboutus .card_header h3{
  color: #FFF;
  font-family: Manrope;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
}
.aboutus .card_header .icon_box{
  position: relative;
}
.aboutus .card_header .icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutus .card_body p {
  color: #FFF;
  font-family: Manrope;
  max-width: 335px;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aboutus .images_part{
  display: flex;
  width: 100%;
  height: 487px;
  position: relative;
}
.aboutus .img_card:nth-child(1){
  position: absolute;
  top: 52px;
  left: -34px;
}
.aboutus .img_card:nth-child(1) .bg{
  border-radius: 20px;
  background: linear-gradient(78deg, #08080A 14.13%, rgba(8, 8, 10, 0.00) 62.05%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.aboutus .img_card:nth-child(1) img{
  position: relative;
  z-index: -1;
}
.aboutus .img_card:nth-child(2){
  position: absolute;
  bottom: 17px;
  left: 275px;
}
.aboutus .img_card:nth-child(3){
  position: absolute;
  top: 110px;
  left: 542px;
}
.aboutus .img_card:nth-child(4){
  position: absolute;
  top: 8px;
  right: 842px;
}
.aboutus .img_card:nth-child(4) .bg{
  border-radius: 20px;
  background: linear-gradient(148deg, #08080A 2.16%, rgba(8, 8, 10, 0.00) 37.76%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.aboutus .img_card:nth-child(5){
  position: absolute;
  bottom: 0;
  right: 552px;
}
.aboutus .img_card:nth-child(6){
  position: absolute;
  bottom: 0;
  right: 209px;
}
.aboutus .img_card:nth-child(7){
  position: absolute;
  top: 0;
  right: -57px;
}

/* dating */
.dating{
  position: relative;
  margin-top: 35px;
  padding: 80px;
  z-index: 0;
}
.dating::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #EB5C68;
  z-index: -1;
}
.dating::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #DC4450;
  z-index: -1;
}
.dating_main{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dating .dating_left{
  max-width: 442px;
  display: flex;
  flex-direction: column;
}
.dating .section_title{
  margin-bottom: 70px;
}
.dating .steps{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 124px;
}
.dating .step{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.dating .step_counter{
  color: rgba(255, 255, 255, 0.35);
  font-family: "Tenor Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s ease;
}
.dating .step_text{
  color: rgba(255, 255, 255, 0.35);
  font-family: "Tenor Sans";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s ease;
}
.dating .step:hover .step_counter{
  color: rgba(255, 255, 255, 0.60);
}
.dating .step:hover .step_text{
  color: #FFF;
}
.dating .text{
  color: #FFF;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 122.858%; 
  margin-bottom: 22px;
}
.dating .create_profile{
  display: inline-block;
  border-radius: 24px;
  background: #FFF;
  padding: 24px 40px;
  color: #000;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.9s ease;
}

.dating .create_profile:hover {
  background: #858383;
  color: #FFF;
}

.dating .dating_right{
  max-width: 410px;
}
.dating_right img{
  max-width: 410px;
}
.dating_right .text{
  max-width: 383px;
  margin-top: 39px;
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 29.703px;
  font-style: normal;
  font-weight: 500;
}


/* safety */
.safety {
  position: relative;
  /* padding: 112px 0 261px; */
  padding: 83px 0 194px;
}
.safety .little_heart{
  width: 350px;
  position: absolute;
  top: 46px;
  left: 370px;
  z-index: 0;
}
.safety .double_heart{
  width: 705px;
  position: absolute;
  top: 84px;
  right: -110px;
  z-index: 0;
}
.safety .safety_image1{
  width: 400px;
  position: absolute;
  top: 145px;
  left: 167px;
}
.safety .safety_image2{
  width: 251px;
  position: absolute;
  top: 431px;
  left: 361px;
}
.safety .container{
  display: flex;
  justify-content: end;
}
.safety .safety_main{
  max-width: 551px;
  margin-right: 255px;
  position: relative;
  z-index: 10;
}
.safety .section_title{
  margin-bottom: 44px;
}
.safety .text{
  color: #FFF;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 52px;
}
.safety ul{
  border-radius: 22.277px;
  background: #111112;
  width: 460px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.safety li{
  display: flex;
  align-items: center;
  gap: 24px;
  color: #FFF;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.safety li img{
  width: 39px;
}


/* stories */
.stories .swiper-slide{
  width: auto;
}
.stories .section_title{
  margin-bottom: 35px;
}
.stories .text{
  color: #FFF;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 46px;
}
.stories .slide_box{
  display: flex;
  align-items: center;
  gap: 18px;
}
.stories .slide_card{
  width: 460px;
  border-radius: 22.277px;
  background: #FFF;
  padding: 38px 28px 26px;
  position: relative;
}
.stories .slide_card .icon{
  width: 88px;
  position: absolute;
  top: 28px;
  right: 22px;
  z-index: 0;
}
.stories .slide_card p{
  color: #08080A;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 56px;
}
.stories .slide_card h3{
  color: #1A1F71;
  font-family: "Tenor Sans";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 122.189%; /* 43.988px */
  text-transform: uppercase;
}
.stories .progressbar_container {
  margin: 64px auto 72px;
  width: 169px; 
  height: 10px; 
  background: rgba(255, 255, 255, 0.11); 
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.stories .progressbar_fill {
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 6.5px;
  transition: width 0.3s ease-in-out; 
}

/* questions */
.questions {
  margin-bottom: 73px;
  background: #08080A;
}
.questions .accordion{
  border-radius: 22.277px;
  background: #111112;
  width: 100%;
  padding: 60px 45px 76px;
}
.questions .accordion_header {
  text-align: center;
  margin-bottom: 54px;
}
.questions .accordion_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.questions .accordion_item {
  border-radius: 22.277px;
  background-color: #252525;
  padding: 20px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}
.questions .accordion_item.active {
  background: #7A00F1;
}
.questions .accordion_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  font-family: Manrope;
  /* font-size: 40px; */
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.questions .accordion_icon {
  width: 55px;
  height: 55px;
  transition: transform 0.3s ease;
}
.questions .accordion_item.active .accordion_icon {
  content: url('../img/accordion_hide.svg');
}
.questions .accordion_content {
  max-width: 789px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
  color: #FFF;
  font-family: Manrope;
  /* font-size: 28px; */
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0; 
}
.questions .accordion_item.active .accordion_content {
  height: auto;
  padding: 36px 0 8px;
  opacity: 1;
}


/* find_love */
.find_love{
  background-color: #fff;
  position: relative;
}
.find_love .container{
  position: relative;

}
.find_love .images{
  width: 100%;
  height: 917px;
  position: relative;
}
.find_love .images .image1{
  position: absolute;
  top: 43px;
  left: -250px;
  z-index: 1;
}
.find_love .images .image2{
  position: absolute;
  top: 265px;
  left: 20px;
  z-index: 2;
}
.find_love .images .image3{
  position: absolute;
  top: 152px;
  left: 190px;
  z-index: 3;
}
.find_love .images .image4{
  position: absolute;
  top: 255px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.find_love .images .image5{
  position: absolute;
  top: 108px;
  right: 385px;
  z-index: 4;
}
.find_love .images .image6{
  position: absolute;
  top: 511px;
  right: 241px;
  z-index: 7;
}
.find_love .images .image7{
  position: absolute;
  top: 122px;
  right: -41px;
  z-index: 6;
}
.find_love .images .image8{
  position: absolute;
  top: 391px;
  right: -240px;
  z-index: 8;
}
.find_love .images .white_heart{
  position: absolute;
  top: 433px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.find_love .love_heart{
  position: absolute;
  bottom: -1px;
  right: 0;
}
.find_love .find_love_content{
  padding-top: 69px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}
.find_love .find_love_content h3{
  color: #111112;
  font-family: "Tenor Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 122.189%;   */
  text-transform: uppercase;
  margin-bottom: 30px;
}
.find_love .find_love_content p{
  color: #111112;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 49px;
}
.find_love .find_love_content .find_button{
  display: inline-block;
  border-radius: 23.391px;
  background: #EB5C68;
  /* padding: 32px 54px; */
  padding: 24px 40px;
  color: #FFF;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 67px;
  transition: all 0.5s ease;
}

.find_love .find_love_content .find_button:hover {
  background: #a0202b;
}

/* footer */
.footer{
  padding-top: 88px;
}
.footer_box{
  border-radius: 30px 30px 0px 0px;
  background: #111112;
  padding: 31px 40px 34px;
}
.footer_header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 44px;
}
.footer_header .socials{
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer_body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.footer_menus{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer_menus li a{
  color: #FFF;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_body .site_info{
  color: #555;
  text-align: right;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}